# Go build artifacts
*.exe
*.dll
*.so
*.dylib
*.wasm
*_test

# Go module cache
.cache/

# Common build/output directories
bin/
build/

# Operating System specific files
.DS_Store
Thumbs.db

# Test files
videos.json
test
